.tch-card{
    width: 250px;
    height: 250px;
    border: 1px solid #2bc96d;
}
.tchc-content img{
    width: 248px;
}
.tchc-content{
    text-align: center;
}
.tch-name{
    font-size: 20px;
}
 .tch-card:hover {
    box-shadow: 0 8px 20px 12px rgba(0,0,0,0.2);
    background-color:#2bc96d;
    color: white;

}
.row{
display: flex;
 align-items: center;
flex-wrap: wrap;
justify-content: center;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}    
.tch-title{
    text-align: center;
    margin-bottom: 5px;
    color:  #6d17cb;
}